@import '../../variables.scss';

.app {
    font: 100% $font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    max-width: 1920px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: white;
    position: relative;
}