.footer {
    margin: auto auto 0;
    width: 100vw;
    display: flex;
    background-color: #D9D9D9;

    &__box {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 15px auto;
        font-size: 20px;
        font-weight: 500;
    }

    &__copyright {
        margin: 0;
    }

    &__team {
        margin: 0;
    }
}